@using Silkways.Models
@model User


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Resources/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Step1</title>
    <style>
        .setup {
            padding: 50px 0px;
        }

            .setup .logo {
                padding-bottom: 20px;
            }
    </style>
</head>
<body class="setup">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">

                <div class="text-center">
                    <a href="#" class="show logo"><img src="http://www.softsolutions.com.pk/assets/images/logo.png" /></a>
                </div>
                <div class="alertForTask">
                    <ul class="noty_inline_layout_container i-am-new" style="width: auto; height: auto; margin: 0px; padding: 0px; list-style-type: none; z-index: 9999999; top: 0px; left: 0px;">
                        <li class="made noty_container_type_alert animated fadeIn" style="cursor: pointer; height: 63px;">
                            <div class="noty_bar noty_type_alert" id="noty_1004447543995130600">
                                <div class="noty_message">
                                    <span class="noty_text">
                                        <div class="alert alert-info media fade in">
                                            <p><strong>@TempData["AlertTask"]</strong></p>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-header">
                        <h4 class="panel-heading">STEP 2 (Add User)</h4>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <form method="post" autocomplete="off" enctype="multipart/form-data">
                            @Html.HiddenFor(a => a.ID)
                            <div class="row">
                                <div class="col-lg-12 portlets">
                                    <p id="Paragraph">Here you can define different System users who can access this system</p>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="form-label">Name</label>
                                                @Html.TextBoxFor(x => x.FullName, new { @placeholder = "Enter Name", @class = "form-control", @required = "required" })
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Email</label>
                                                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Enter Email Address", @class = "form-control", @required = "required", @type = "Email" })
                                                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "redText" })
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Contact</label>
                                                @Html.TextBoxFor(x => x.ContactNo, new { @placeholder = "Enter Contact No", @class = "form-control", @required = "required", oninput = @"this.value=this.value.replace(/[^0-9]/g,'');", @maxlength = "11" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Set a Username</label>
                                                @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Enter Username", @class = "form-control", @required = "required" })
                                                @if (ViewBag.Exists == "Username")
                                                {
                                                    <p style="color:red">Username is already Exists</p>
                                                }

                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Password</label>
                                                @Html.TextBoxFor(x => x.Password, new { @placeholder = "Enter Password", @type = "password", @class = "form-control", @required = "required" })
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Address</label>
                                                @Html.TextBoxFor(x => x.Address, new { @placeholder = "Enter Address", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <hr />
                                        <div class="text-right">
                                            <a href="/setup/step1" class="btn btn-default">BACK</a> <button type="submit" class="btn btn-primary">SAVE & NEXT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Resources/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/Resources/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            var alerttexthere = '@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["AlertTask"]))';
            if (alerttexthere != "") {
                $('.alertForTask').hide().delay(1000);
                $('.alertForTask').fadeIn('slow').delay(6000).fadeOut('slow');
            }
            else {
                $('.alertForTask').hide();
            }
        });
    </script>
</body>

</html>
