@model Silkways.Models.SystemSetting

@{
    ViewBag.Title = "AddSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-9">
    <h2>Add/Update <strong>System Setting</strong></h2>
</div>
<div class="col-xs-3">
    @*<input type="button" value="Manage Setting" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/Settings/ManageSettings'">*@
</div>
<form method="post" enctype="multipart/form-data" id="FormUser">
    @Html.HiddenFor(a => a.ID)
    <div class="row">
        <div class="col-lg-12 portlets">

            <div class="panel">
                <div class="panel-content">
                    <h4>Email Configuration Setting</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Sender Email</label>
                                @Html.TextBoxFor(x => x.SenderEmail, new { @placeholder = "Enter Sender Email", @class = "form-control", @type = "email" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Sender Password</label>
                                @Html.TextBoxFor(x => x.SenderPassword, new { @placeholder = "Enter Sender Password", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">SMTP Host</label>
                                @Html.TextBoxFor(x => x.SMTPHost, new { @placeholder = "Enter SMTP Host", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Port</label>
                                @Html.TextBoxFor(x => x.Port, new { @placeholder = "Enter Port", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Enter Port", @class = "form-control", @type = "email" })
                            </div>
                        </div>                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    @Html.CheckBoxFor(a => a.IsSSL) IsSSL?
                                </label>
                            </div>
                        </div>
                    </div>
                    <h4>FTP Admin Setting</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">FTP IP</label>
                                @Html.TextBoxFor(x => x.FTPIP, new { @placeholder = "Enter FTP IP", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Ftp Name</label>
                                @Html.TextBoxFor(x => x.FtpName, new { @placeholder = "Enter Ftp Name", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Ftp Password</label>
                                @Html.TextBoxFor(x => x.FtpPassword, new { @placeholder = "Enter Ftp Password", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Ftp FTP Path</label>
                                @Html.TextBoxFor(x => x.FTPPath, new { @placeholder = "Enter FTP Path", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div>
                        @{
                            string Text = "Add Settings";
                            if (Model != null)
                            {
                                Text = "Update Settings";
                            }
                        }

                        <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>




